html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: #567356;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: black;
}

h2 {
    text-align: center;
}

#h4 {
    margin-bottom: 0;
}

img {
        width: 100%;
      }

.hr {
    
    border-bottom: 1px solid black;
}

a {
    color: black;
}

a:hover {
    color:green;
}

.listRight {
    width: 100%;
}

.title{
    margin-bottom: 5px;
    color: black;
}

.title:hover {
    margin-bottom : 5px;
    color: #50dd5b;
}

.titleBil {
    text-align: center;
}

#container {
    min-height: 100%;  
    background: #f6fff6;
    width: 100%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}



#footer {
    text-align: center;
}

#footer {
    text-align: center;
    background: #f6fff6;
}

#anwser {
    font-size : 70%;
}

#txtComment {
    width: 50%;
}

#txtBillet {
    width: 50%;
}

#menu {
    width: 90%;
}

#text {
    width: 100%;
}

.inline-form input {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
}

.navbar {
    width: 100%;
}

#myCarousel {
    margin-top: 20px;
}

#latestPost {
    border-left: solid 2px black;
    min-height: 200px;
}

#passView {
    text-align: center;
}

#passText {
    text-align: center;
}

#addCom {
    text-align: center;
}

.com {
    text-align: center;
    border: 1px green solid;
    background-color: #CFFCCF;
    padding-top: 10px;
}

.titleCom {
    text-align: center;
    border : 1px green solid;
    background-color: #BCE5BC;
    margin-bottom: 0;
    padding: 5px;
}