html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: #000;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
}

.titreBillet {
    margin-bottom : 0px;
}


#container {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background: #666;
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}

#txtBillet {
    width: 50%;
}

#menu {
    background: #000;
    width: 100%;
}

.inline-form input {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
}

.navbar {
    width: 100%;
}